In [1]:
from flask import Flask,render_template

app=Flask(__name__)

@app.route("/")
def index():
    return "HOLA" #render_template("example.html")

if __name__=="__main__":
    app.run()

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

In [ ]:
from flask import Flask, render_template
import pandas as pd

app = Flask(__name__)

file1="static/CSV/Dadespersnomespreinsdec16originalescoles.csv"
file2="static/CSV/Dadesqualiffaseinicialdec16original.csv"

def open_registered(file1):
    
    registered=pd.read_csv(file1,sep=',', delimiter=None, header='infer',engine='python',dtype={"CODI_EXPEDIENT":str, "VIA_ACCES":str,"TIPUS_ACCES":str,"CP_FAMILIAR":str,"CP_CENTRE_SEC":str})
    
    #Students from GETI
    registered=registered[registered["CODI_PROGRAMA"]==752]
    registered.drop(labels=["CODI_PROGRAMA"],axis=1,inplace=True)
    #Students registered in 2010 or later
    registered=registered[registered["ANY_ACCES"]>=2010]
    #Access via: PAU
    registered=registered[registered["VIA_ACCES"]=="0"]
    registered.drop(labels=["VIA_ACCES"],axis=1,inplace=True)
    registered=registered[registered["TIPUS_ACCES"]=="1"]
    registered.drop(labels=["TIPUS_ACCES"],axis=1,inplace=True)
    #With no info
    registered=registered.dropna(axis=0, how='any')
    
    #Name columns
    registered.columns=["EXPEDIENT_CODE","GENDER","FAM_CODE","AC_YEAR","AC_GRADE","HSCHOOL","HS_CODE"]
    
    #Delete duplicates (Keep first time registered at ETSEIB)
    registered=registered.sort_values(by=["EXPEDIENT_CODE","AC_YEAR","AC_GRADE"],ascending=True)
    registered.drop_duplicates(subset="EXPEDIENT_CODE", keep='first', inplace=True)
    
    return registered

def open_grades(file2):
    grades=pd.read_csv(file2,sep=',', delimiter=None, header='infer',engine='python',dtype={"CODI_EXPEDIENT":str, "CODI_UPC_UD":str})
    
    #Students from GETI
    grades=grades[grades["CODI_PROGRAMA"]==752]
    grades.drop(labels=["CODI_PROGRAMA"],axis=1,inplace=True)
    #Courses taken in 2010 or later
    grades=grades[grades["CURS"]>=2010]
    #Drop unnecessary info
    grades.drop(labels=["CREDITS","NOTA_PROF","NOTA_NUM_AVAL","GRUP_CLASSE"],axis=1,inplace=True)
    #With no info
    grades=grades.dropna(axis=0, how='any')
    
    #Name columns
    grades.columns=["EXPEDIENT_CODE","COURSE_CODE","YEAR","QUARTER","PASS","GRADE"]
    
    #Number of attempts per course
    grades["ATTEMPTS"]=None
    s = grades.groupby(["EXPEDIENT_CODE", "COURSE_CODE"]).size()
    grades["ATTEMPTS"] = grades.set_index(["EXPEDIENT_CODE","COURSE_CODE"]).index.map(s.get)
    
    grades=grades.sort_values(by=["EXPEDIENT_CODE","COURSE_CODE","YEAR","QUARTER"],ascending=True)
    
    return grades

def one_in_another(file1, file2):
    
    #Call this function to get the 2 Dataframes
    registered=open_registered(file1)
    grades=open_grades(file2)
    
    registered=registered[registered["EXPEDIENT_CODE"].isin(grades["EXPEDIENT_CODE"])]
    grades=grades[grades["EXPEDIENT_CODE"].isin(registered["EXPEDIENT_CODE"])]
    
    return registered, grades

registered,grades=one_in_another(file1, file2)
hs=registered["HSCHOOL"].unique()

@app.route("/")
def index():
    hsch=["a","b","c"]
    return render_template("trying.html",hsch=hsch)

if __name__ == '__main__':
    from werkzeug.serving import run_simple
    run_simple('localhost', 9000, app)

In [8]:
from werkzeug.wrappers import Request, Response

In [2]:
import Initial_filter as fil

In [3]:
import pandas as pd
file1="static/CSV/Dadespersnomespreinsdec16originalescoles.csv"
file2="static/CSV/Dadesqualiffaseinicialdec16original.csv"
registered,grades=fil.one_in_another(file1, file2)

In [4]:
file1="static/CSV/Dadespersnomespreinsdec16originalescoles.csv"
file2="static/CSV/Dadesqualiffaseinicialdec16original.csv"
import pandas as pd

def open_registered(file1):
    
    registered=pd.read_csv(file1,sep=',', delimiter=None, header='infer',engine='python',dtype={"CODI_EXPEDIENT":str, "VIA_ACCES":str,"TIPUS_ACCES":str,"CP_FAMILIAR":str,"CP_CENTRE_SEC":str})
    
    #Students from GETI
    registered=registered[registered["CODI_PROGRAMA"]==752]
    registered.drop(labels=["CODI_PROGRAMA"],axis=1,inplace=True)
    #Students registered in 2010 or later
    registered=registered[registered["ANY_ACCES"]>=2010]
    #Access via: PAU
    registered=registered[registered["VIA_ACCES"]=="0"]
    registered.drop(labels=["VIA_ACCES"],axis=1,inplace=True)
    registered=registered[registered["TIPUS_ACCES"]=="1"]
    registered.drop(labels=["TIPUS_ACCES"],axis=1,inplace=True)
    #With no info
    registered=registered.dropna(axis=0, how='any')

    #Name columns
    registered.columns=["EXPEDIENT_CODE","GENDER","FAM_CODE","AC_YEAR","AC_GRADE","HSCHOOL","HS_CODE"]
    
    #Delete duplicates (Keep first time registered at ETSEIB)
    registered=registered.sort_values(by=["EXPEDIENT_CODE","AC_YEAR","AC_GRADE"],ascending=True)
    registered.drop_duplicates(subset="EXPEDIENT_CODE", keep='first', inplace=True)
    
    return registered

def open_grades(file2):
    grades=pd.read_csv(file2,sep=',', delimiter=None, header='infer',engine='python',dtype={"CODI_EXPEDIENT":str, "CODI_UPC_UD":str})
    
    #Students from GETI
    ggrades=grades[grades["CODI_PROGRAMA"]==752]
    grades.drop(labels=["CODI_PROGRAMA"],axis=1,inplace=True)
    #Courses taken in 2010 or later
    grades=grades[grades["CURS"]>=2010]
    #Drop unnecessary info
    grades.drop(labels=["CREDITS","NOTA_PROF","NOTA_NUM_AVAL","GRUP_CLASSE"],axis=1,inplace=True)
    #With no info
    grades=grades.dropna(axis=0, how='any')
    
    #Name columns
    grades.columns=["EXPEDIENT_CODE","COURSE_CODE","YEAR","QUARTER","PASS","GRADE"]
    
    #Number of attempts per course
    grades["ATTEMPTS"]=None
    s = grades.groupby(["EXPEDIENT_CODE", "COURSE_CODE"]).size()
    grades["ATTEMPTS"] = grades.set_index(["EXPEDIENT_CODE","COURSE_CODE"]).index.map(s.get)
    
    grades=grades.sort_values(by=["EXPEDIENT_CODE","COURSE_CODE","YEAR","QUARTER"],ascending=True)
    
    return grades

def one_in_another(file1, file2):
    
    #Call this function to get the 2 Dataframes
    registered=open_registered(file1)
    grades=open_grades(file2)
    
    registered=registered[registered["EXPEDIENT_CODE"].isin(grades["EXPEDIENT_CODE"])]
    grades=grades[grades["EXPEDIENT_CODE"].isin(registered["EXPEDIENT_CODE"])]
    
    return registered, grades

In [5]:
registered,grades=fil.one_in_another(file1, file2)

In [48]:
file1="static/CSV/Dadespersnomespreinsdec16originalescoles.csv"
file2="static/CSV/Dadesqualiffaseinicialdec16original.csv"
import pandas as pd
registered=pd.read_csv(file1,sep=',', delimiter=None, header='infer',engine='python',dtype={"CODI_EXPEDIENT":str, "VIA_ACCES":str,"TIPUS_ACCES":str,"CP_FAMILIAR":str,"CP_CENTRE_SEC":str})
    
#Students from GETI
registered=registered[registered["CODI_PROGRAMA"]==752]
registered.drop(labels=["CODI_PROGRAMA"],axis=1,inplace=True)
#Students registered in 2010 or later
registered=registered[registered["ANY_ACCES"]>=2010]
#Access via: PAU
registered=registered[registered["VIA_ACCES"]=="0"]
registered.drop(labels=["VIA_ACCES"],axis=1,inplace=True)
registered=registered[registered["TIPUS_ACCES"]=="1"]
registered.drop(labels=["TIPUS_ACCES"],axis=1,inplace=True)
#With no info
registered=registered.dropna(axis=0, how='any')
    
#Name columns
registered.columns=["EXPEDIENT_CODE","GENDER","FAM_CODE","AC_YEAR","AC_GRADE","HSCHOOL","HS_CODE"]
#Delete duplicates (Keep first time registered at ETSEIB)
registered=registered.sort_values(by=["EXPEDIENT_CODE","AC_YEAR","AC_GRADE"],ascending=True)
registered.drop_duplicates(subset="EXPEDIENT_CODE", keep='first', inplace=True)

In [49]:
registered.head()

,EXPEDIENT_CODE,GENDER,FAM_CODE,AC_YEAR,AC_GRADE,HSCHOOL,HS_CODE
458,226441,H,08840,2010,9.852,SAGRAT COR-SARRIÀ,08034
868,226455,H,08700,2010,10.642,ESCOLA PIA D'IGUALADA,08700
3024,226463,H,08029,2010,10.004,BETÀNIA-PATMOS,08034
3025,226464,H,08150,2010,10.916,"CERVETO, ESCOLA",08401
2595,226467,H,08036,2010,11.686,"SUNION, INST.CULTURAL CATALANA",08023

In [36]:
registered.columns=["EXPEDIENT_CODE","GENDER","FAM_CODE","AC_YEAR","AC_GRADE","HSCHOOL","HS_CODE"]

In [37]:
registered.head()

,EXPEDIENT_CODE,GENDER,FAM_CODE,AC_YEAR,AC_GRADE,HSCHOOL,HS_CODE
0,230661,D,08328,2010,10.050,SANT PAU,08034
1,230310,H,08390,2010,12.336,"MIREIA,C.E.",08390
3,228108,H,17310,2010,10.294,IMMACULADA CONCEPCIó-LLORET,17310
4,226494,H,08005,2010,11.028,INST.ICÀRIA,08005
5,228260,H,08401,2010,10.470,JARDÍ,08401